.rewards-display {
    border: 1px solid turquoise;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reward {
    border: 1px solid orange;
    margin: 5px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reward-point {
    border: 1px solid yellowgreen;
    width: 50%;
    margin: 5px;
}